*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    padding: 0.5%;
    position: relative;
    box-shadow: 1px 2px 4px #048694f8;
    z-index: 1000;
  
  }
  
  .row{
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      padding: 0.5%;  
  }
  
  .list{
    width: 45%;
  
  }
  
  .list_row{
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
  
      justify-content: center;
  }
  
  .list ul{
        list-style-type: none;
  }
  .list a{
      font-size: large;
      
      text-decoration: none;
      color: black;
   
  }
  
  .logo{
     
      width: 10%;
  }
  
  .logo img{
      width: 50%;
      
  }
  
  .icons{
      display: flex;
     width:10%;
      justify-content: flex-end;
      gap: 5%;
      
  }
  
  .nav_icon{  
      width: 24px;
  }
  .containerSection{
    width: 90%;
    margin: auto;
}

.rowSection1{
    display: flex;
  width: 100%;
  gap: 8%;
   
  
}
.right{
    margin-top: 10%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 20%;
    
}
.left{
    margin-top: 6%;
    width: 100%; 
}
span{
    color: #0097a7;
}

.backImage{
   background-image: url("image/bg.png");
    background-size: cover;
    background-position: center;
    min-height: 85vh;
    width: 100%;
}
.hedarPage{
width: 40%;

}
.hedarPage h1{
    font-size: 200%;
}

.parag{
    
    font-size: large;
    
}
.learnMore{
    background-color: #0097a7;
    width: fit-content;
    padding: 0.9%;
    margin-top: 0;
}
.learnMore a{
  
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.imagPage{
   display: flex;
   align-items: center;
   justify-content: center;
 
    
}

.imagPage img{
    width: 90%;
    height: auto;
    object-fit: cover;     
    box-sizing: border-box;
}






.rowfeatured{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 80px;
}
.hed{
    text-align: center;
    font-size: 46px;
}


.imgesFe{
    display: flex;
  
    gap: 40px; 
   
    margin-top: 80px;  
    
}
.imgeFeatured{
    border: 1px solid #ccc;
    width: 17%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1%;
    flex-wrap: wrap;
  
    height: 50%; 
}
.imgeFeatured img{

    width: 80%;
    height: 220px; 
    object-fit: cover;
    border-radius: 4px;
}
.nameFeatured {
    font-size: large;
    font-weight: bold;

}
.LocationFeatured{
    color:#0097a7 ;
}

  .spanFeatured{
    border: 2px solid;
    text-align: center;
    padding:  2% 4%;
    width: 50%;
    
  }
  
  .spanFeatured a{
    color: black;
  }
  
  .priceFeatured::before {
    
    content: " $25.50";
    font-size: 16px;
    font-weight: bold;
    
  }
  .priceFeatured::after {
    content: "$20.60 ";
    
    text-decoration: line-through;
    margin-left: 5px;
    font-size: 12px;
    
    color: rgb(83, 77, 77);
  }
