*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    padding: 0.5%;
    position: relative;
    box-shadow: 1px 2px 4px #048694f8;
    z-index: 1000;
  
  }
  
  .row{
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      padding: 0.5%;  
  }
  
  .list{
    width: 45%;
  
  }
  
  .list_row{
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
  
      justify-content: center;
  }
  
  .list ul{
        list-style-type: none;
  }
  .list a{
      
      text-decoration: none;
      color: black;
   
  }
  
  .logo{
     
      width: 10%;
  }
  
  .logo img{
      width: 50%;
      
  }
  
  .icons{
      display: flex;
     width:10%;
      justify-content: flex-end;
      gap: 5%;
      
  }
  
  .nav_icon{  
      width: 15%;
  }

  @media (max-width: 768px) {
    .row {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .list {
      width: 100%;
      display: none; 
      flex-direction: column;
    }
  
    .list_row {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      padding: 10px;
    }
  
    .icons {
      width: 100%;
      justify-content: space-between;
    }
  
    .menu-toggle {
      display: block;
    }
  
    .list.active {
      display: flex;
    }
  
    .logo {
      width: 100%;
    }
  
    .logo img {
      width: 30%;
    }
  }
  


  .containerSection{
    width: 90%;
    margin: auto;
}

.rowSection1{
    display: flex;
  width: 100%;
  gap: 8%;
   
  
}
.right{
    margin-top: 10%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 20%;
    
}
.left{
    margin-top: 6%;
    width: 100%; 
}
span{
    color: #0097a7;
}

.backImage{
   background-image: url("image/bg.png");
    background-size: cover;
    background-position: center;
    min-height: 85vh;
    width: 100%;
}
.hedarPage{
width: 40%;

}
.hedarPage h1{
    font-size: 200%;
}

.parag{
     
    text-align: justify;
    
}
.learnMore{
    background-color: #0097a7;
    width: fit-content;
    padding: 1% 2%;
    margin-top: 0;
}
.learn-more a{
  
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.imagPage{
   display: flex;
   align-items: center;
   justify-content: center;
 
    
}

.imagPage img{
    width: 90%;
    height: auto;
    object-fit: cover;     
    box-sizing: border-box;
}





.section2_container{
margin-top: 40px;
}
.section2_row{
    display: flex
;
    justify-content: space-between;
    width: 95%;
    gap: 5%;
    margin: auto;

}
.section2_icons{
     display: flex;
    padding: 1%;
    box-shadow: 0PX 0Px 7px 1px rgb(2, 163, 163);
    justify-content: space-between;
    text-align: center;
    align-items: center;
    
    flex-direction: column;
}
.section2_icon{
    width: 30%;
    max-width: 30%;
    height: 40%;
}
.size{
    font-size: small;

}
.section2_icon {
    fill: rgb(2, 163, 163);
}
 
.setion3_row {
    display: flex;
    gap: 10%;
    justify-content: space-between;
}
.section3_info {
      display: flex;
    width: 50%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 8%;
    flex-direction: column;
}
.section3_info h1{
    font-size: 40px;
}
.section3_img {
    width: 50%;
}
.section3_img img{
    box-sizing: border-box;
     width: 100%;
    padding: 4%;}
    .learn-more{
       width: fit-content;
    padding: 6px 14px;
    background-color: #009688;
    color: #fdfdfd;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    cursor: pointer;
    text-decoration: none;}
    



.rowfeatured{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 80px;
}
.hed{
    text-align: center;
    font-size: 46px;
}

#scrool{
    scroll-behavior: smooth ; 
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}
#scroolmin{
    scroll-snap-align: start;
    flex: 0 0 auto;
}
.imgesFe{
    display: flex;
  
    gap: 40px; 
   
    margin-top: 80px;  
    
}
.imgeFeatured{
    border: 1px solid #ccc;
    width: 17%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1%;
    flex-wrap: wrap;
  
    height: 50%; 
}
.imgeFeatured img{

    width: 80%;
    height: 220px; 
    object-fit: cover;
    border-radius: 4px;
}
.nameFeatured {
    font-size: large;
    font-weight: bold;

}
.LocationFeatured{
    color:#0097a7 ;
}

  .spanFeatured{
    border: 2px solid;
    text-align: center;
    padding:  2% 4%;
    width: 50%;
    
  }
  
  .spanFeatured a{
    color: black;
  }
  
  .priceFeatured::before {
    
    content: " $25.50";
    font-size: 16px;
    font-weight: bold;
    
  }
  .priceFeatured::after {
    content: "$20.60 ";
    
    text-decoration: line-through;
    margin-left: 5px;
    font-size: 12px;
    
    color: rgb(83, 77, 77);
  }




  .rownew{
    display: flex;
    flex-wrap: wrap; 
  
    justify-content: center;
    width: 100%;
    margin: auto;
    gap: 40px;
}
.hedNew{
    margin-top: 120px;
}
.hedNew h3{
    font-size: 46px;

}
#imgnew{
    width: 16%; 
    box-sizing: border-box;
   
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
 
}
#topdown{
    display: flex;
    flex-wrap: wrap;             
    justify-content: center;   
    gap: 5%;                  
    margin-top: 50px;
    
   
}
.iconsNew{
    display: flex;
    width:50%;
     gap: 5%;
     color: #0097a7;
}

.learnNew{
    border: 2px solid ;
    padding: 4px 10px;
}
.learnNew a{
    color: black;
}

.background-image2{
    background-image: url('image/banner.jpg');
    padding: 0;
    background-size: cover;
    margin: 0;
    height: 20rem;
}