*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #0097a7;
    border-radius: 6px;
    border: 2px solid #f0f0f0;
  }
  
  
  * {
    scrollbar-width: thin;                
    scrollbar-color: #0097a7 #f0f0f0;     
  }

html {
    scroll-behavior: smooth;
  }
nav{
    width: 100%;
    
}
.container {
    padding: 0.5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 1px 2px 4px #048694f8;
    z-index: 1000;
    background-color: white; 
}

  
  .row{
  
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      padding: 0.5%;  
  }
  
  .list{
    width: 45%;
  
  }
  
  .list_row{
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
  
      justify-content: center;
  }
  
  .list ul{
        list-style-type: none;
  }
  .list a{
      
      text-decoration: none;
      color: black;
   
  }
  
  .logo{
     
      width: 10%;
  }
  
  .logo img{
      width: 50%;
      
  }
  
  .icons{
      display: flex;
     width:10%;
      justify-content: flex-end;
      gap: 5%;
      
  }
  
  .nav_icon{  
      width: 15px;
  }
  .menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
  
  }
  .listMO svg{
   
    width: 20px;
   
  }
  

  @media (max-width: 768px) {
   
   
        .list {
          display: none;
          width: 100%;
          margin-top: 10px;
          text-align: center;
        }
      
        .list.active {
          display: flex;
          justify-content: center;
        }
      
        .list_row {
          flex-direction: column;
          align-items: center;
          gap: 15px;
        }
        
      
      
    
    .logo {
      width: 30%;
    }
  
    .logo img {
      width: 70%;
    }
  
    
    .icons {
      width: auto;
      gap: 10px;
    }
  
    
    .menu-toggle {
      display: inline;
    }
  
 
    .row {
      flex-wrap: wrap;
      flex-direction: row;
    }
  

  
  }
  


  .containerSection{
    width: 90%;
    margin: auto;
}

.rowSection1{
    display: flex;
  width: 100%;
  gap: 8%;
   
  
}
.right{
    margin-top: 14%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 20%;
    
}
.left{
    margin-top: 10%;
    width: 100%; 
}
span{
    color: #0097a7;
}

.backImage{
   background-image: url("image/bg.png");
    background-size: cover;
    background-position: center;
    min-height: 85vh;
    width: 100%;
}
.hedarPage{
width: 50%;

}
.hedarPage h1{
    font-size: 200%;
}

.parag{
     
    text-align: justify;
     font-size: smaller;
    color: #363535;
    font-family: 'Poppins', sans-serif;
}

.learnMore{
    background-color: #0097a7;
    width: fit-content;
    padding: 1% 2%;
    margin-top: 0;
}
.learn-more a{
  
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.imagPage{
   display: flex;
   align-items: center;
   justify-content: center;
 
    
}

.imagPage img{
    width: 90%;
    height: auto;
    object-fit: cover;     
    box-sizing: border-box;
}


@media (max-width: 768px) {
    .containerSection {
    width: 90%;
    margin: auto;
    margin-top: 35%;
}


  .rowSection1 {
      flex-direction: column;
      gap: 40px;
      align-items: center;
  }

  .left, .right {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-top: 0;
      text-align: center;
  }

  .hedarPage{
    width: 30%;
  }
  .hedarPage h1 {
      font-size: 1.8rem;

  }

  .parag {
      font-size: 0.95rem;
  }

  .learnMore {
      margin-left: auto;
      margin-right: auto;
  }

  .imagPage{
    width: 90%;
  }
  .imagPage img {
      width: 80%;
  }
  section#about {
    margin-top: 10%;
}
   .setion3_row{
    width: 100% !important;
   }
 #imgnew{
    width: 30% !important;
 }
   .imgeFeatured {
    height: 25% !important;
   }
   section#arrival {
    margin-bottom: 20rem;
}
.reviews {
   flex-wrap: wrap;
}
.review {
    max-width: 48% !important;

}
.background-image2 {
   
    height: 12rem !important;
}
.background-image2 .learn-more{
    font-size: x-small;
     padding: 3px 9px;
}
.our-blogs-container {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
    gap: 3% !important;
}
.our-blogs {
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    margin-bottom: 14px;
    align-items: center;
    justify-content: center;
    width: 48%;
    margin: auto;
}
.rowFooter {
    display: flex
;
    column-gap: 10%;
    width: 92%;
    margin: auto;
    flex-wrap: wrap;
    padding: 1%;
}
}


@media (max-width: 480px) {
  .hedarPage h1 {
      font-size: 1.5rem;
  }

  .parag {
      font-size: 0.9rem;
  }

  .learnMore {
      padding: 8px 16px;
      font-size: 0.9rem;
  }
}


.section2_container{
margin-top: 40px;
}
.section2_row{
    display: flex
;
    justify-content: space-between;
    width: 90%;
    gap: 8%;
    margin: auto;

}
.section2_icons{
     display: flex;
    padding: 0.7%;
    box-shadow: 0PX 0Px 7px 1px rgb(2, 163, 163);
    gap: 13%;
    text-align: center;
    align-items: center;
    
    flex-direction: column;
}
.section2_icon{
    width: 30%;
    
    height: 30%;
}
.font-h3{
    font-family: 'Roboto', sans-serif;

}
.size{
    font-size: small;
    font-family: 'Poppins', sans-serif;
    color: #363535;

}
.section2_icon {
    fill: rgb(2, 163, 163);
}

@media (max-width: 769px){
       .section2_icons {
        display: flex;
        width: fit-content;
        align-self: center;
        padding: 0.7%;
        box-shadow: 0PX 0Px 7px 1px rgb(2, 163, 163);
        gap: 13%;
        text-align: center;
        margin-top: 10%;
        align-items: center;
        flex-direction: column;
    }
.section2_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10%;
    gap: 8%;
    margin: auto;
}
.section2_icon {
    width: 20%;
    height: 30%;
}
}
 
.setion3_row {
    display: flex;
    gap: 10%;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.section3_info {
      display: flex;
    width: 50%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 8%;
    flex-direction: column;
}
.section3_info h1{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
.section3_img {
    width: 50%;
}
.section3_img img{
    box-sizing: border-box;
     width: 100%;
    padding: 4%;}
    .learn-more{
       width: fit-content;
    padding: 6px 14px;
    background-color: #009688;
    color: #fdfdfd;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    cursor: pointer;
    text-decoration: none;}
    

.section3_info p{
    font-family: 'Poppins', sans-serif;
    color:#363535 ;
    font-size: small;
}

.rowfeatured{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 80px;
}
.hed{
    text-align: center;
    font-size: 46px;
    font-family: 'Poppins', sans-serif;
}

#scrool{
    scroll-behavior: smooth ; 
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}
#scroolmin{
    scroll-snap-align: start;
    flex: 0 0 auto;
}
.imgesFe{
    display: flex;
  
    gap: 40px; 
   
    margin-top: 80px;  
    
}
.imgeFeatured{
    border: 1px solid #ccc;
    width: 17%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1%;
    flex-wrap: wrap;
  
    height: 50%; 
}
.idFeatured{
    color: #878282;
}
.imgeFeatured img{

    width: 80%;
    height: 220px; 
    object-fit: cover;
    border-radius: 4px;
}
.nameFeatured {
    font-size: large;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

}
.LocationFeatured{
    color:#0097a7 ;
    font-family: 'Poppins', sans-serif;
}

  .spanFeatured{
    border: 2px solid;
    text-align: center;
    padding:  2% 4%;
    width: 50%;
    
  }
  
  .spanFeatured a{
    color: #363535;
    font-family: 'Poppins', sans-serif;
    font-size: small;
  }
  
  .priceFeatured::before {
    
    content: " $25.50";
    font-size: 16px;
    font-weight: bold;
    
  }
  .priceFeatured::after {
    content: "$20.60 ";
    
    text-decoration: line-through;
    margin-left: 5px;
    font-size: 12px;
    
    color: rgb(83, 77, 77);
  }
@media (max-width: 769px){
    .imgeFeatured {
        width: 30%;
    }
}
@media (max-width: 425px){
    .imgeFeatured {
        width: 50%;
    }
}



  .rownew{
    display: flex;
    flex-wrap: wrap; 
  
    justify-content: center;
    width: 100%;
    margin: auto;
    gap: 40px;
}
.hedNew{
    margin-top: 120px;
}
.hedNew h3{
    font-size: 46px;

}
#imgnew{
    width: 16%; 
    box-sizing: border-box;
   
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
 
}
#topdown{
    display: flex;
    flex-wrap: wrap;             
    justify-content: center;   
    gap: 5%;                  
    margin-top: 50px;
    
   
}
.iconsNew{
    display: flex;
    width:50%;
     gap: 5%;
     color: #0097a7;
}

.learnNew{
    border: 2px solid ;
    padding: 4px 10px;
}
.learnNew a{
    color: #363535;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

.background-image2{
    background-image: url('image/banner.jpg');
    padding: 0;
    background-size: cover;
    margin: 0;
    height: 20rem;
}
.banner-row{
    
    display: flex;
    width: 86%;
    margin: auto;
    margin: 8% 0% 0% 6.5%;
    align-content: space-around;
    
} 
.banner-row a{
    margin: 22% 0 0 0;
}
.our-blogs-container{
    display: flex;
    width: 90%;
    margin: auto;
    gap: 10%;
}
.blog-h1{
    display: flex;
    font-size: 2.3rem ;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    margin: 0 0 2% 0;
}
.our-blogs{
     background: #fff;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  height: 100%;
}
.our-blogs img{
        width: 100%;
    height: 13rem;
    object-fit: cover;
}

     .our-blogs-words{

    padding: 5%;
}
.bloger-attributes {
    color: #28afa1;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.our-blogs .p-and-icon{
    margin-top: 4%;}
.our-blogs .p-and-icon p {
     text-align: justify; 
     font-family: 'Roboto', 'Open Sans', sans-serif;
    font-size: smaller;
}

.icon-blog{
    display: flex;
    justify-content: space-between;
}
.icon-blog svg{
    width: 4%;
    height: auto;
   

}
.icon-blog-color{
    color: rgb(2, 163, 163);
}

.rowReviews{
    margin-top: 200px;
}
.hedRevies{
    text-align: center;
    font-size: 46px;
}
.reviews{
    margin-top: 80px;
    display: flex;
    gap: 20px;
}
.review{
    max-width: 25%;
    height: 100%;
    padding: 10px 10px 30px 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    
    box-shadow: 0 0 6px #0097a7;
}
.topReviews{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.toprightReviews{
    display: flex;
    width:20%;
    
    gap: 20px;
    flex-direction: column;
    
    color: rgb(213, 220, 220);
}
.topleftReviews{
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.imgReviews{
    width: 40%;
    border-radius: 50%;
}

.contensReviews{
    width: 100%;
    box-sizing: border-box;
  
    
}
.contensReviews p {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    text-align: justify;
}
.iconsReviews{
    display: flex;
    width: 30%;
    color: #0097a7;
   margin-top: 5px;
   


}
.container-Footer{
    background-color: #f5f5f5;
    margin-top: 2%;
}
.rowFooter {
    display: flex;
    column-gap: 10%;
    width: 92%;
    margin: auto;
    padding: 1%;
}
.logo-Footer{
    text-align: justify;
    width: 50%;
    display:flex;
    gap: 3%;
    flex-direction: column
}
.logo-Footer img {
    width: 40%;
}
.QuickLink {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 3%;
    margin-top: 2%;
    
    
}
.QuickLink ul{
    display: flex;
    flex-direction: column;
       align-items: center;
}
.QuickLink h3 {
    text-align: center;
}
    .QuickLink ul li {
        text-decoration: none;
    }

.QuickLink ul li  {
    list-style: none;
    margin-top: 8%;
    
}
.QuickLink ul li a {
    text-decoration: none;
    color: black;
}

.ContactInfo{
     width: 20%;
    display: flex;
    flex-direction: column;
    gap: 7%;
    margin-top: 2%;
    justify-content: space-between;
    
}
.contacts{
 display: flex;
    flex-direction: column;
    gap: 6%;
    
}
.contact {
    display: flex;
    height: 8%;
    justify-content: center;
    
    }

#email{
    width: fit-content;
    height: fit-content;
}
.contact p{
    width: 90%;
}


.followUs{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    margin-top: 2%;
    
}
.SocialFooter {
    display: flex;
    height: 6%;
    width: 80%;
    justify-content: space-between;
   

}

.NewsLetter{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 12%;
    margin-top: 2%;
    
}
.email-input {
  padding: 2%;
  
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: gainsboro;
  outline: none;
  transition: border-color 0.3s;
}
 .subscribe-button {
    padding: 4%;
    width: fit-content;
    border-radius: 20px;
    color: white;
    border: 1px solid #ccc;
    background-color: teal;
    outline: none;
    margin-top: 2%;
    transition: border-color 0.3s;
}
.design{
    text-align: center;
    padding:10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.design svg {
    width: 3%;
    height: 1%;
    fill: #009688;
   
}
.design p{
    font-size: 16px;
}